.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 228, 196, 0.736);
    align-items: center;
    padding: 10px 0px;
}

.selflogo {
    margin-left: 30px;
}



.social {
    margin-right: 40px;
    gap: 20px;
    display: flex;

}

.social img {
    border-radius: 10px;
}

.profile {
    align-items: center;
    text-align: center;
    color: white;
}


body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Space Grotesk";
}

.profilecontent {
    width: 50%;
    text-align: center;
    margin: auto;
}

.introimg {
    margin-bottom: auto;
}

.boxtitle1,
.boxtitle2,
.boxtitle3,
.boxtitle4,
.boxtitle5 {
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    gap: 10px;

}

.exercisebox {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.box1 {
    background-color: rgba(255, 255, 255, 0.515);
    width: calc(100%/4);

    margin: auto;
    padding: 30px 0px;
    border-radius: 20px;

}

.box2 {
    background-color: rgba(255, 255, 255, 0.515);
    width: calc(100%/4);

    margin: auto;
    padding: 20px 0px;
    border-radius: 20px;



}

.box3 {
    background-color: rgba(255, 255, 255, 0.515);
    width: calc(100%/4);
    margin: auto;
    padding: 20px 0px;
    border-radius: 20px;





}

.box4 {
    background-color: rgba(255, 255, 255, 0.515);
    width: 40%;
    margin: auto;
    padding: 30px 0px;
    border-radius: 20px;
}


.box5 {
    background-color: rgba(255, 255, 255, 0.515);
    width: 40%;
    margin: auto;
    padding: 50px 0px;
    border-radius: 20px;
}


.box1 a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 40px;


}

.box2 a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 33px;


}

.box3 a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 33px;


}

.box4 a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 40px;

}

.box5 a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 40px;

}


.bottomheader {
    background-color: rgba(255, 228, 196, 0.736);
    margin-top: 50px;
    padding: 5px 0px;

}

.bottomsocial {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.bottomsocial img {
    border-radius: 10px;
}

.line {
    background-color: black;
    border: none;
    height: 2px;
    margin: 20px;
}

.bottomtext {
    text-align: center;
    color: black;
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    .exercisebox {
        flex-direction: column;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        width: 80%;
    }

    .profilecontent {
        width: 100%;
    }





}