body {
    max-width: 400px;
    margin: auto;
}

.name {
    display: flex;
    justify-content: space-between;
}


.email {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.home {
    margin-top: 10px;
}