   body {
       font-family: "Space Grotesk";
   }

   .header {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   h1 {
       padding: 5px 10px;
   }

   .left,
   .right {
       display: flex;
       align-items: center;
   }

   .left {
       margin-left: 60px;
   }

   .right {
       gap: 90px;
       margin-right: 60px;
   }

   .about4 {
       background-color: white;
       color: black;
       text-decoration: none;
   }

   .serv4 {
       background-color: white;
       color: black;
       text-decoration: none;
   }

   .use4 {
       background-color: white;
       color: black;
       text-decoration: none;
   }

   .price4 {
       background-color: white;
       color: black;
       text-decoration: none;
   }

   .blog4 {
       background-color: white;
       color: black;
       text-decoration: none;
   }

   .button4 {

       background-color: white;
       color: black;
       text-decoration: none;
       border: 2px solid black;
       padding: 15px 25px;
       border-radius: 8px;
   }

   /* header */
   .main1 {
       display: flex;
       margin: 50px;
   }

   .header2 {
       display: flex;
       flex-direction: column;
   }

   .content {
       width: 70%;
       font-size: 30px;
   }

   .content1 {
       width: 70%;
       font-size: 22.5px;
   }

   .button5 {
       background-color: black;
       color: white;
       text-decoration: none;
       border: 2px solid black;
       padding: 15px 25px;
       border-radius: 8px;
   }

   .button2 {
       margin-top: 30px;
   }



   /* main */
   .brandlogo {
       display: flex;
       justify-content: space-between;
       margin-top: 150px;
       margin-left: 60px;
       margin-right: 60px;
   }