  /* header */
  .middle {
      display: flex;
      gap: 50px
  }

  .content {
      width: 50%;
      margin-left: 50px;

  }

  .illus {
      width: 50%;
      margin-top: 30px;


  }

  h1 {
      font-size: 74px;
  }

  p {
      font-size: 28px;
  }

  .book {
      background-color: black;
      color: white;
      text-decoration: none;
      padding: 15px 25px;
      border-radius: 8px;
  }

  .bookbutton {
      margin-top: 50px;
  }

  /* middle */
  .brandlogo {
      display: flex;
      justify-content: space-around;
      margin: 50px 0px;

  }

  .logobox1 {
      display: flex;
      width: 50%;
      justify-content: space-around;
  }

  .logobox2 {
      display: flex;
      width: 50%;
      justify-content: space-around;


  }


  .illustration2 {
      display: none;
  }

  .submenu {
      display: none;
      position: absolute;
      width: 160px;
      z-index: 1;
  }

  .submenu a {
      display: block;
      padding: 5px;
      text-decoration: none;
      color: black;
      margin-left: 20px;
  }


  .aboutmenu:hover .submenu {
      display: block;
  }



  @media screen and (max-width: 900px) {

      .rightheader,
      .illus {
          display: none;

      }

      .illustration2 {
          display: block;
      }

      .content {
          width: 100%;
      }

      .illustration2 {
          width: 100%;
      }

      .brandlogo {
          flex-wrap: wrap;
          margin: 0px 20px;
          padding: 20px;
          gap: 20px;
      }

      .brandlogo img {
          width: 100%;
      }

      .logobox1,
      .logobox2 {
          width: 100%;
      }

      p {
          font-size: 22px;
      }

      .book {
          background-color: black;
          color: white;
          text-decoration: none;
          border-radius: 8px;
          width: 80%;
          display: flex;
          justify-content: center;
      }


  }