body {
    font-family: "Space Grotesk", sans-serif;
}

.middle {
    justify-content: space-between;
    display: flex;
    background-color: #f3f3f3;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px 40px
}

.middlecontent {
    width: 50%;
}

.illus img {
    border-radius: 50px;
}

h3 {
    font-size: 72px;
}

.middlecontent p {
    font-size: 29px;
}

.greyillus {
    width: 50%;
}

/* middle */
.bigbottom {
    color: #ffffff;
    background-color: #000000;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px 40px;
}

.bottom {

    display: flex;

}

.bottomcontent {
    width: 50%
}

.bottomicon {
    display: flex;
    align-items: center;
    color: #b9fe67;
    margin-top: 40px;
}

.bottomicon p1 {
    margin-left: 10px;
}

.bottomcontent h4 {
    font-size: 50px;
    border-radius: 10px;
    width: 90%;
}

.bottomcontent h5 {
    width: 80%;
    font-size: 38px;
}

.bottomcontent p {
    font-size: 20px;
    width: 90%;

}

/* left content */

.fourbox {
    width: 50%;
    margin: auto;
    text-align: center;

}

.box1 {
    background-color: #ffffff;
    color: #000000;
    width: 50%;
    padding: 50px 50px;
    border-radius: 50px;

}

.box1 h6 {
    font-size: 52px;
    margin: auto;

}

.box1 p2 {
    font-size: 30px;
    margin: auto;

}

/* box1 box1 box1 */

.box2 {
    background-color: #ffffff;
    color: #000000;
    width: 50%;
    padding: 50px 50px;
    border-radius: 50px;



}

.box2 h6 {
    font-size: 52px;
    margin: auto;

}

.box2 p2 {
    font-size: 30px;
    margin: auto;


}

/* box2 box2 box2 */

.box3 {
    background-color: #ffffff;
    color: #000000;
    width: 50%;
    padding: 30px 50px;
    border-radius: 50px;



}

.box3 h6 {
    font-size: 52px;
    margin: auto;

}

.box3 p2 {
    font-size: 30px;
    margin: auto;

}

/* box3 box3 box3 */

.box4 {
    background-color: #ffffff;
    color: #000000;
    width: 50%;
    padding: 30px 50px;
    border-radius: 50px;
}

.box4 h6 {
    font-size: 52px;
    margin: auto;

}

.box4 p2 {
    font-size: 30px;
    margin: auto;
}


/* box4 box4 box4 */
.bigbox1 {
    display: flex;
    gap: 50px;
    margin: 50px 0px;

}

.bigbox2 {

    display: flex;
    gap: 50px;
    margin: 50px 0px;

}

.use {
    background-color: #b9fe67;
    border-radius: 40px;
}

.bottomcontent h4 {
    background-color: #b9fe67;
    color: #000000;

}

@media screen and (max-width: 1320px) {
    .box4 {
        background-color: #ffffff;
        color: #000000;
        width: 50%;
        padding: 30px 40px;
        border-radius: 50px;
    }

}

@media screen and (max-width: 1250px) {
    .box4 {
        background-color: #ffffff;
        color: #000000;
        width: 50%;
        padding: 30px 30px;
        border-radius: 50px;
    }

}

@media screen and (max-width: 1190px) {
    .box4 {
        background-color: #ffffff;
        color: #000000;
        width: 50%;
        padding: 30px 20px;
        border-radius: 50px;
    }

    .box1 h6 {
        font-size: 42px;
        margin: auto;

    }

    .box1 p2 {
        font-size: 26px;
        margin: auto;
    }

    .box2 h6 {
        font-size: 42px;
        margin: auto;

    }

    .box2 p2 {
        font-size: 26px;
        margin: auto;
    }

    .box3 h6 {
        font-size: 42px;
        margin: auto;

    }

    .box3 p2 {
        font-size: 26px;
        margin: auto;
    }

    .box4 h6 {
        font-size: 42px;
        margin: auto;

    }

    .box4 p2 {
        font-size: 26px;
        margin: auto;
    }

}

@media screen and (max-width: 1080px) {
    .box4 {
        background-color: #ffffff;
        color: #000000;
        width: 50%;
        padding: 30px 20px;
        border-radius: 50px;
    }

    .box3 {
        background-color: #ffffff;
        color: #000000;
        width: 50%;
        padding: 30px 40px;
        border-radius: 50px;



    }
}

@media screen and (max-width: 1040px) {
    .box1 {
        background-color: #ffffff;
        color: #000000;
        width: 50%;
        padding: 50px 40px;
        border-radius: 50px;

    }

    .box2 {
        background-color: #ffffff;
        color: #000000;
        width: 50%;
        padding: 50px 40px;
        border-radius: 50px;
    }



    .box3 {
        background-color: #ffffff;
        color: #000000;
        width: 50%;
        padding: 30px 35px;
        border-radius: 50px;
    }

    .box4 {
        background-color: #ffffff;
        color: #000000;
        width: 50%;
        padding: 30px 15px;
        border-radius: 50px;
    }

    .box1 h6 {
        font-size: 32px;
        margin: auto;

    }

    .box1 p2 {
        font-size: 22px;
        margin: auto;
    }

    .box2 h6 {
        font-size: 32px;
        margin: auto;

    }

    .box2 p2 {
        font-size: 22px;
        margin: auto;
    }

    .box3 h6 {
        font-size: 32px;
        margin: auto;

    }

    .box3 p2 {
        font-size: 22px;
        margin: auto;
    }

    .box4 h6 {
        font-size: 32px;
        margin: auto;

    }

    .box4 p2 {
        font-size: 22px;
        margin: auto;
    }

}


@media screen and (min-width: 900px) {

    .illuswhite,
    .featured,
    .bottomicon2 {
        display: none;
    }
}

@media screen and (max-width: 900px) {

    .greyillus,
    .bottomicon {
        display: none;
    }

    .illuswhite {
        width: 100%;
    }

    .middle {
        background-color: white;
    }

    .middlecontent {
        width: 100%;
    }

    .bottomcontent h4 {
        display: none;
    }

    .featured {
        display: flex;
        align-items: center;
        color: #b9fe67;


    }

    .featured h6 {
        font-size: 42px;
    }


    .bottomcontent {
        width: 100%;
    }

    .fourbox {
        width: 100%;
    }

    .bigbox1,
    .bigbox2 {
        flex-wrap: wrap;

    }

    .bottom {
        display: unset;
    }

    .box1 {
        background-color: #ffffff;
        color: #000000;
        width: 100%;
        padding: 30px 50px;
        border-radius: 50px;
    }

    .box2 {
        background-color: #ffffff;
        color: #000000;
        width: 100%;
        padding: 30px 50px;
        border-radius: 50px;
    }

    .box3 {
        background-color: #ffffff;
        color: #000000;
        width: 100%;
        padding: 30px 50px;
        border-radius: 50px;
    }

    .box4 {
        background-color: #ffffff;
        color: #000000;
        width: 100%;
        padding: 30px 50px;
        border-radius: 50px;
    }

    .bottomicon2 {
        display: flex;
        color: #b9fe67;
        align-items: center;
        margin-bottom: 30px;
    }

    .bottomicon2 p1 {
        margin-left: 10px;
    }

}