body {
    margin: 30px;
}

.content {
    text-align: center;
    width: 50%;
    margin: auto;
}

.row1 {
    display: flex;
    margin: auto;
    gap: 30px;
}

.row2 {
    display: flex;
    margin: auto;
    gap: 30px;
}

.twice1 img {
    border-radius: 20px;
}

.twice2 img {
    border-radius: 20px;
}

.twice3 img {
    border-radius: 20px;
}

.twice4 img {
    border-radius: 20px;
}

.twice5 img {
    border-radius: 20px;
}

.twice6 img {
    border-radius: 20px;
}

.row1>div {
    width: calc(100%/3);
}

.row2>div {
    width: calc(100%/3);
}


.boxcontent1 {
    background-color: grey;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

.boxcontent2 {
    background-color: grey;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

.boxcontent3 {
    background-color: grey;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

.boxcontent4 {
    background-color: grey;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

.boxcontent5 {
    background-color: grey;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

.boxcontent6 {
    background-color: grey;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

@media screen and (max-width:900px) {

    .row1,
    .row2 {
        flex-direction: column;
    }

    .row1>div {
        width: 100%;
    }

    .row2>div {
        width: 100%;
    }

    .content {
        width: 100%;
    }






}