body {
    background-color: aliceblue;
}

.switzerlandphoto img {
    border-radius: 20px;
}

.box1 {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.switzerlandicon {
    align-items: center;
    gap: 30px;
    display: flex;
}

.leaf {
    background-color: grey;
    padding: 10px;
    border-radius: 30px;
}

.map {
    background-color: grey;
    padding: 10px;
    border-radius: 30px;
}

.send {
    background-color: grey;
    padding: 10px;
    border-radius: 30px;
}