@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 30px;
    font-family: "Space Grotesk";
}

.content {
    text-align: center;
    width: 50%;
    margin: auto;
}

.row1 {
    display: flex;
    margin: auto;
    gap: 30px;
}

.row2 {
    display: flex;
    margin: auto;
    gap: 30px;
}

.twice1 img {
    border-radius: 20px;
}

.twice2 img {
    border-radius: 20px;
}

.twice3 img {
    border-radius: 20px;
}

.twice4 img {
    border-radius: 20px;
}

.twice5 img {
    border-radius: 20px;
}

.twice6 img {
    border-radius: 20px;
}

.row1>div {
    width: calc(100%/3);
}

.row2>div {
    width: calc(100%/3);
}

.boxcontent1 p,
.boxcontent2 p,
.boxcontent3 p,
.boxcontent4 p,
.boxcontent5 p,
.boxcontent6 p {
    color: #008000;
}

.readmore1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightarrow1 {
    margin-left: 15px;
}

.readmore2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightarrow2 {
    margin-left: 15px;
}

.readmore3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightarrow3 {
    margin-left: 15px;
}

.readmore4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightarrow4 {
    margin-left: 15px;
}

.readmore5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightarrow5 {
    margin-left: 15px;
}

.readmore6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightarrow6 {
    margin-left: 15px;
}

.boxcontent1 {
    background-color: aliceblue;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

.boxcontent2 {
    background-color: aliceblue;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

.boxcontent3 {
    background-color: aliceblue;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

.boxcontent4 {
    background-color: aliceblue;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

.boxcontent5 {
    background-color: aliceblue;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

.boxcontent6 {
    background-color: aliceblue;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;
    top: -50px
}

@media screen and (max-width:900px) {

    .row1,
    .row2 {
        flex-direction: column;
    }

    .row1>div {
        width: 100%;
    }

    .row2>div {
        width: 100%;
    }

    .content {
        width: 100%;
    }






}