        body {
            background-color: rgb(213, 174, 121);
            font-family: 'Archivo', sans-serif;
        }


        .header {
            justify-content: space-between;
            display: flex;
            background-color: white;
            align-items: center;
            padding: 10px 20px;
        }

        .logo {
            width: 200px;
        }

        .header2 {
            display: flex;
            gap: 30px
        }

        .header3 {
            display: flex;
            align-items: center;
            gap: 10px
        }

        .phonelogo {
            width: 30px;
        }

        .menulogo {
            width: 30px;
        }

        .serv {
            color: #f6622e;
        }

        .button {
            text-decoration: none;
            padding: 12px 20px;
            background-color: #f6622e;
            color: white;
            border-radius: 8px;
        }

        @media screen and (min-width: 1200px) {

            .menulogo {
                display: none;

            }
        }

        @media screen and (max-width: 1200px) {

            .header2,
            .button {
                display: none;
            }
        }

        @media screen and (max-width:720px) {

            .phonelogo,
            .number {
                display: none;
            }


        }